<!-- Container (Services Section) -->
<div id="offers" class="container-fluid text-center">
  <h2>OFFERS</h2>
  <h4>What we are offering...!!!!!</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span><a routerLink="vskp">
        <img src="assets/images/vis.png" alt="Paris" width="200" height="100"></a></span>
      <h4>PROMOCODE</h4>
      <h3>VISAKHAPATNAM</h3>
      <p>VKSP10</p>
      <P>Valid till 2019-jan-15</P>
    </div>
    <div class="col-sm-4">
      <span><img src="assets/images/char.jpg" alt="Paris" width="200" height="100"></span>
      <h4>PROMOCODE</h4>
      <h3>HYDERADAD</h3>
      <p>HYD20</p>
      <P>Valid till 2019-jan-15</P>
    </div>
    <div class="col-sm-4">
      <span><img src="assets/images/vij.jfif" alt="Paris" width="200" height="100"></span>
      <h4>PROMOCODE</h4>
      <h3>VIJAYAWADA</h3>
      <p>BZA15</p>
      <P>Valid till 2019-jan-15</P>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span><a href=""><img src="assets/images/gun.jfif" alt="Paris" width="200" height="100"></a></span>
      <h4>PROMOCODE</h4>
      <h3>GUNTUR</h3>
      <P>GNT25</P>
      <p>Valid till 2019-jan-15</p>
    </div>
    <div class="col-sm-4">
      <span><img src="assets/images/MSS.jpg" alt="Paris" width="200" height="100"></span>
      <h4>PROMOCODE</h4>
      <h3>MIRACLE SOFTWARE SYSTEMS</h3>
      <p>MSS50</p>
      <P>Valid till 2019-jan</P>
    </div>
    <div class="col-sm-4">
      <span><img src="assets/images/viz.jpg" alt="Paris" width="200" height="100"></span>
      <h4 style="color:#303030;">PROMOCODE</h4>
      <h3>VIZIANAGARAM</h3>
      <p>VZM30</p>
      <P>Valid till 2019-jan</P>
    </div>
  </div>
</div>

