<!-- Container (Portfolio Section) -->
<div style="padding:45px;margin-left:400px;margin-top:200px;">
  <h1>RENTAL BIKES</h1> 
  <p>GET RIDE ON ROAD</p> 
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Choose your location...!!" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Search</button>
      </div>
    </div>
  </form>
</div>
<table><tr><td>
  <div id="bikes" class="container-fluid text-center bg-grey">
    <h2>Bikes on Road</h2><br>
    <h4>What we have created</h4>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/logo1.jpg" alt="Paris" width="400" height="300">
          <p><strong>Suzuki GSX S1000F</strong></p>
          <p>Yes, we built Paris</p>
          <button type="submit" class="btn btn-default">booknow</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/logo2.jpg" alt="New York" width="400" height="300">
          <p><strong>Next gen Yamaha YZF-R15</strong></p>
          <p>We built New York</p>
          <button type="submit" class="btn btn-default">booknow</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/logo1.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>Next gen Yamaha FZ-S</strong></p>
          <p>Yes, San Fran is ours</p>
          <button type="submit" class="btn btn-default">booknow</button>
        </div>
        
      </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="assets/images/logo11.jpg" alt="Paris" width="400" height="300">
            <p><strong>bajaj pulsar</strong></p>
            <p>Yes, we built Paris</p>
            <button type="submit" class="btn btn-default">booknow</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="assets/images/logo12.jpg" alt="New York" width="400" height="300">
            <p><strong>hero glamour</strong></p>
            <p>We built New York</p>
            <button type="submit" class="btn btn-default">booknow</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="assets/images/logo13.jpg" alt="San Francisco" width="400" height="300">
            <p><strong>yamaha fz</strong></p>
            <p>Yes, San Fran is ours</p>
            <button type="submit" class="btn btn-default">booknow</button>
          </div>
          
        </div>
      </div>
  </div>
  
  </td></tr></table>
  