<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Rental</h2>
            
      <p>

        <strong>Our journey so far:</strong>
        
        Wicked Ride started with a fleet of 8 motorcycles. Our first motorcycle was a Continental GT from Royal Enfield then a Harley-Davidson Street 750.
        Vivek’s excitement woke him up early for his first visit to the Harley-Davidson dealership in Bangalore to ensure that we are one of the first ones to get the newly launched Street 750.
        
        The greatest experience of riding a Harley-Davidson for the first time in life, is what we were happy to offer to a lot of people, for many of whom it was a childhood fantasy.
        It was something which we had never even dared to dream ourselves, but, once the idea took shape, we were telling to ourselves that “we don’t have to sell the concept of renting motorcycles; we just have to tell”
        
        After the Street 750 from Harley-Davidson, we set our eyes on bigger and more Harley-Davidson motorcycles. We saw a post for a used Super low and out motorcycle lust got better of us and we managed to get it at the same time as our first Street 750. So we had two Harley- Davidsons now J. These motorcycles were parked very safely at Anil’s place which had the most secure parking.
        
        Every time we rode these motorcycles, the attention they demanded was massive. It was an awesome head turner. The most frequently asked questions were “Esthu Guru?” and “Esth Koduthe?” Which means what does the bike cost and what is the mileage?
        We used to tell them it’s not ours and that we have taken it for rent from Wicked Ride and started our first step in marketing.</p>
        
        <button class="btn btn-default btn-lg">More</button>
    </div>
    <div class="col-sm-4">
      <span><img src="assets/images/RE1.jpg" alt="Paris" width="400" height="300"></span>
    </div>
  </div>
</div>


<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span><img src="assets/images/hel.png" alt="Paris" width="300" height="200"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <ul>
        <li><strong>Safety</strong> – Both on the roads and in our shops. We want people to be comfortable riding their bikes and accessing our programs.</li>
      </ul>
      <h4><strong>MISSION:</strong> </h4><p>We want to get people on bikes and keep them there. We strive to foster bicycling in Denver as a viable means of transportation, and as a means to address wealth and health disparities that exist in our communities. We seek to empower individuals to take control of their transportation, health, and sense of community.</p>      
      <p><strong>VISION:</strong></p> <p>We want to see multiple Bikes Together centers throughout the city of Denver. Each center will have its own unique focus but primarily will serve as an active hub for bicycle education, access to bike maintenance, and access to bicycles through our free/earned bike programs and retail sales. We seek to engage each community we are active in, to sustain the location, and help fulfill our mission.</p>
    </div>
  </div>
</div>


