   
     
    <div id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
      <nav class="navbar navbar-default navbar-fixed-top">
       
   
   
   
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" routerLink="myPage"><img src="/assets/images/icon.gif" width=100px height=30px></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home1">HOME</a></li>
          <li><a routerLink="/about">ABOUT</a></li>
          <li><a routerLink="/offers">OFFERS</a></li>
          
          <li><a routerLink="/login">LOGIN</a></li>
          <li><a routerLink="/contact">CONTACT</a></li>
          <li><a routerLink="/usersignup">USERSIGNUP</a></li>
          <li><a routerLink="/ownersignup">OWNERSIGNUP</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
